<!DOCTYPE html>
<html>
    <head>
        <title>
        Basics | Bootcamp Hogaru
        </title>
    </head>
    <h1>Basics</h1>
    <p></p>
    <p>1. Qué es un resource en el contexto de una aplicación web REST en Ruby on Rails?</p>
    <p>   Un recurso en REST es como una Entidad en una Base de Datos. Una vez que se identifica un recurso, su representación se puede mostrar a través de una ruta.</p>
    <p>2. Qué puede hacerse con un resource?</p>
    <p>Un resource contiene información, se puede manipular con las operaciones crear, leer, actualizar o eliminar.</p>
</html>