
<!DOCTYPE html>
<html>
<title> Git | Bootcamp Hogaru</title>
<h1>Git</h1>
<p>1. Inicialización de un repositorio de git nuevo en una aplicación existente</p>
<li> git init</li>
<p>2. Creación de un branch nuevo</p>
<li>git checkout -b nombre_rama</li>
<p>3. Realizar un commit incluyendo todos los cambios actuales</p>
<li>git commit -am "mensaje"</li>
<p>4. Cómo enviar el código al repositorio remoto</p>
<li>git  push</li>
<p>5. Cómo configurar el origen del repositorio remoto para evitar escribirlo siempre cada vez que se hace un push o un pull.</p>
<li>git push -u origin rama</li>
<p>6. Diferencia entre un reset y revert.</p>
<li>git reset nos devuelve a un commit anterior y revert deshace los commits anteriores.</li>
<p>7. Además de cambiar de ramas, para qué más se puede utilizar el comando git checkout.</p>
<li>También nos permite devolvernos a un commit anterior. </li>
<p>8. Como puede ver los commits que se han realizado en el proyecto.</p>
<li>git log</li>
<p>9. He modificado dos archivos y quiero hacer un commit por cada uno de ellos, cómo lo puedo hacer?</p>
<li>git add archivo1. Después git commit -m "mensaje", y es igual para el archivo 2. </li>
</html>
