<title>Home | Bootcamp Hogaru</title>
<h1>Página principal</h1>
<div class="idc-box">
<p class="idc-titulo">Contenidos</p>
<ul class="idc-lista">
 <li><a href="http://localhost:3000/static_pages/basics">Basics</a>
</li>
<li><a href="http://localhost:3000/static_pages/ruby">Ruby</a></li>
<li><a href="http://localhost:3000/static_pages/git">Git</a></li>
</ul>
</div>
