<title>Home | Bootcamp Hogaru</title>


<h1> Hora: id="HoraActual"</h1>

<h1>Página principal</h1>
<div class="idc-box">
<p class="idc-titulo">Contenidos</p>
<ul class="idc-lista">
 <li><a href="https://proyecto-1-bootcamp-hogaru.herokuapp.com/static-pages/basics">Basics</a>
</li>
<li><a href="https://proyecto-1-bootcamp-hogaru.herokuapp.com/static-pages/ruby">Ruby</a></li>
<li><a href="https://proyecto-1-bootcamp-hogaru.herokuapp.com/git">Git</a></li>
</ul>
</div>
