<title>Home | Bootcamp Hogaru</title>

<script
              src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
<h1> Hora: id="HoraActual"</h1>

<h1>Página principal</h1>
<div class="idc-box">
<p class="idc-titulo">Contenidos</p>
<ul class="idc-lista">
 <li><a href="https://proyecto-1-bootcamp-hogaru.herokuapp.com/basics">Basics</a>
</li>
<li><a href="https://proyecto-1-bootcamp-hogaru.herokuapp.com/ruby">Ruby</a></li>
<li><a href="https://proyecto-1-bootcamp-hogaru.herokuapp.com/git">Git</a></li>
</ul>
</div>
