
<html>
<title>Ruby | Bootcamp Hogaru</title>
<h1>Ruby</h1>
<p>1. Interpolación de strings</p>
<li> Permite insertar variables dentro de una cadena: #{nombre}. Ejemplo: nombre= Sebastian. "Buen día #{nombre}" -> Buen día Sebastian.</li>
<p>Cómo se declara un array y cómo se adiciona un elemento al final del array.</p>
<li></li>
</html>
