
<html>
<h1>Ruby</h1>
<p>1. Interpolación de strings</p>
<li> Permite insertar variables dentro de una cadena: #{nombre}. Ejemplo: nombre= Sebastian. "Buen día #{nombre}" -> Buen día Sebastian.</li>
</html>
